{% extends './base.html' %}

{% block content %}
<ul>
    {% if books %}
        {% for book in books %}
        title> <a href="{% url 'detail' book.pk %}">{{ book.name }}</a><br/>
        desc> {{ book.desc }}
        <hr/>
        {% endfor %}
        {% if books.has_previous %}
            <a href="?page={{ books.number|add:'-1'}}">上一页</a>
        {% endif %}
        Page {{ books.number }} of {{ books.paginator.num_pages }}.
        {% if books.has_next %}
            <a href="?page={{ books.number|add:'1'}}">下一页</a>
        {% endif %}
    {% else %}
        Empty!
    {% endif %}
</ul>
{% endblock %}

