{% load static %}
<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <style>
          {% block style %}

          {% endblock %}
      </style>

      <title>Reading Style</title>
    </head>
<body>


<header class="fixed-top">
  <div class="container">
      <div class="row">
        <nav class="nav">
            <a class="log" href="/">Reading</a>
            <a class="index" href="/">首页</a>
            {% for cate in nav_cates %}
            <a class="link" href="{% url 'category' cate.id %}">{{ cate.name }}</a>
            {% endfor %}
        </nav>
      </div>
  </div>
</header>
<hr/>

<div class="container main">
    <div class="row">
        <div class="col-9">
            {% block content %}

            {% endblock %}
        </div>
        <div class="col-3">
            {% for sidebar in sidebars %}
                <div class="container sidebar">
                    <h4>{{ sidebar.name }}</h4>
                        <ul>
                            {% if sidebar.display_type == 1 %}
                            {% autoescape on %}
                                {{ sidebar.content }}
                            {% endautoescape %}
                            {% elif sidebar.display_type == 2 %}
                        </ul>
                        <ul>
                            {% for book in recently_books %}
                                <li>
                                    <a href="{% url 'detail' book.id %}">{{ book.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% elif sidebar.display_type == 3%}
                        <ul>
                            {% for book in hot_readings %}
                                <li>
                                    <a href="{% url 'detail' book.id %}">{{ book.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

<hr/>
<div class="container">
 <nav class="nav">
     {% for cate in cates %}
     <a class="nav-link" href="{% url 'category' cate.id %}">{{ cate.name }}</a>
     {% endfor %}
 </nav>
</div>
<footer class="footer power">
  <div class="container">
    <span class="text-muted">Power by Reading Style@<a href="https://family-treesy.github.io/">treehl</a></span>
  </div>
</footer>
</div>
</body>
</html>